/* ---- Variables ---- */
/* Colors */
/* Screen sizes */
/* Font sizes */
/* -- Mixins -- */
/* -- Liggande iPad -- */
/* -- Desktop -- */
.joform_container .gform_wrapper .gform_fields {
  -js-display: -webkit-box;
  -js-display: -ms-flexbox;
  -js-display: -webkit-flex;
  -js-display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: -webkit-flex;
  display: flex; }
  .joform_container .gform_wrapper .flex-between.gform_fields {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .joform_container .gform_wrapper .vertical.gform_fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .joform_container .gform_wrapper .wrap.gform_fields {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .joform_container .gform_wrapper .center.gform_fields {
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

.stretch {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

.joform_sidetoggle, .joform_container__tag {
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1);
  color: #4E4E4E;
  background-color: #D0C182;
  position: fixed;
  cursor: pointer;
  width: 100vw;
  height: 4em;
  bottom: 0;
  right: 0;
  z-index: 9999999999; }
  .joform_sidetoggle:hover, .joform_container__tag:hover {
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 981px) {
    .joform_sidetoggle, .joform_container__tag {
      right: -40px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      height: 4em;
      width: 8em;
      bottom: 80%; } }
  @media only screen and (min-width: 1275px) {
    .joform_sidetoggle, .joform_container__tag {
      box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.1);
      width: 700px;
      height: 900px;
      -webkit-transform-origin: top left;
          -ms-transform-origin: top left;
              transform-origin: top left;
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg);
      overflow: hidden;
      bottom: 100%;
      right: unset;
      left: 100%; }
      .joform_sidetoggle:hover, .joform_container__tag:hover {
        box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2); } }
  @media only screen and (min-width: 1350px) {
    .joform_sidetoggle, .joform_container__tag {
      height: 1130px; } }
  .joform_sidetoggle h4, .joform_container__tag h4 {
    position: absolute;
    color: #4E4E4E;
    bottom: 45%;
    left: 50%;
    line-height: 1;
    padding: 0;
    font-size: 1.3em;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    font-weight: 600; }
    @media only screen and (min-width: 981px) {
      .joform_sidetoggle h4, .joform_container__tag h4 {
        font-size: 18px !important;
        position: relative;
        right: 0;
        bottom: -15px;
        text-align: center; } }
    @media only screen and (min-width: 1275px) {
      .joform_sidetoggle h4, .joform_container__tag h4 {
        right: unset;
        font-size: 18px !important;
        position: absolute;
        bottom: 38px;
        left: 49%;
        -webkit-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
                transform: rotate(-30deg); } }
    @media only screen and (min-width: 1350px) {
      .joform_sidetoggle h4, .joform_container__tag h4 {
        font-size: 18px !important;
        bottom: 50px;
        left: 64%; } }

.joform_container--lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200000000;
  background-color: rgba(0, 0, 0, 0.5); }
.joform_container--closed {
  display: none;
  opacity: 0; }
.joform_container--open {
  display: block;
  opacity: 1;
  -webkit-transition: opacity .2s;
          transition: opacity .2s; }
.joform_container__form {
  background-color: #D0C182;
  color: white;
  padding: 30px;
  box-shadow: 0px 0 9px rgba(0, 0, 0, 0.17);
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
.joform_container__close {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2em;
  color: inherit; }
.joform_container--side {
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #D0C182;
  z-index: 200000000;
  -webkit-transition: -webkit-transform 0.3s ease-in;
          transition: transform 0.3s ease-in;
  will-change: transform;
  -webkit-transform: translate(0, calc( 100% - 4em));
      -ms-transform: translate(0, calc( 100% - 4em));
          transform: translate(0, calc( 100% - 4em));
  padding: 50px;
  padding-top: calc(50px + 4em);
  overflow: visible; }
  @media only screen and (min-width: 981px) {
    .joform_container--side {
      -webkit-transition: -webkit-transform 0.2s ease-in;
              transition: transform 0.2s ease-in;
      padding-top: 50px;
      top: 0;
      height: 100vh;
      width: auto;
      min-width: 25vw;
      max-width: 33vw;
      -webkit-transform: translate(-100%, 0);
          -ms-transform: translate(-100%, 0);
              transform: translate(-100%, 0);
      border-right: 6px solid #C6C6C5; } }
  .joform_container--side.joform_container--open {
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.3s ease-in;
            transition: transform 0.3s ease-in;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    box-shadow: -3px 0 7px rgba(0, 0, 0, 0.2); }
    .joform_container--side.joform_container--open .joform_container__tag {
      display: none; }
    @media only screen and (min-width: 981px) {
      .joform_container--side.joform_container--open {
        -webkit-transition: -webkit-transform 0.2s ease-in;
                transition: transform 0.2s ease-in;
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0); } }
.joform_container h1, .joform_container h2, .joform_container h3, .joform_container h4, .joform_container h5, .joform_container h6 {
  text-align: center; }
.joform_container__tag {
  bottom: auto;
  top: 0;
  position: absolute;
  right: 0;
  left: auto; }
  @media only screen and (min-width: 981px) {
    .joform_container__tag {
      top: 50%;
      -webkit-transform: translateX(100%) rotate(-90deg);
          -ms-transform: translateX(100%) rotate(-90deg);
              transform: translateX(100%) rotate(-90deg); } }
.joform_container .gform_wrapper .gform_heading {
  margin-bottom: 0; }
  .joform_container .gform_wrapper .gform_heading .gform_title {
    color: white; }
.joform_container .gform_wrapper .gform_fields {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .joform_container .gform_wrapper .gform_fields .gfield {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .joform_container .gform_wrapper .gform_fields .gfield.half {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%; } }

.jok_helper_class .joform_container__form {
  padding-top: 0; }
.jok_helper_class .gform_wrapper .validation_error {
  width: 79%;
  margin: 0 auto; }
.jok_helper_class .gform_wrapper .gform_body {
  color: #40474D;
  font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
  padding: 10%;
  padding-top: 0;
  padding-bottom: 15px; }
  .jok_helper_class .gform_wrapper .gform_body .ginput_container {
    margin-top: 0; }
  .jok_helper_class .gform_wrapper .gform_body .gfield {
    margin-top: 10px; }
  .jok_helper_class .gform_wrapper .gform_body h2 {
    text-transform: uppercase;
    font-size: 27px;
    color: #40474D;
    font-weight: 700; }
    @media only screen and (min-width: 768px) {
      .jok_helper_class .gform_wrapper .gform_body h2 {
        font-size: 40px; } }
    @media only screen and (min-width: 981px) {
      .jok_helper_class .gform_wrapper .gform_body h2 {
        font-size: 50px; } }
  .jok_helper_class .gform_wrapper .gform_body p {
    font-size: 25px;
    font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
    text-align: center;
    margin-bottom: 0; }
  .jok_helper_class .gform_wrapper .gform_body .gfield_required {
    color: #40474D; }
  .jok_helper_class .gform_wrapper .gform_body .gfield_error {
    border: none;
    background-color: unset;
    margin-top: 0; }
    .jok_helper_class .gform_wrapper .gform_body .gfield_error .gfield_label {
      color: #40474D; }
  .jok_helper_class .gform_wrapper .gform_body .reg input {
    text-transform: uppercase; }
.jok_helper_class .gform_wrapper .gform_footer {
  text-align: center;
  margin-top: 0; }
.jok_helper_class .gform_wrapper .gform_button {
  text-transform: uppercase;
  margin: 0 auto;
  color: white;
  border: 2px solid #40474D;
  border-radius: 0;
  font-size: 17px;
  font-weight: 600;
  background-color: #40474D;
  padding: 6px 23px;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
  line-height: 1.7em;
  font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
  text-align: center;
  font-weight: 600; }
  .jok_helper_class .gform_wrapper .gform_button:hover {
    background-color: transparent;
    color: #40474D;
    cursor: pointer; }
