%line-hover {
	position: relative;
	&::before {
		content: '';
		height: 1px;
		width: 100%;
		position: absolute;
		top: calc( 1em + 3px);
		background-color: currentColor;
		transition: transform 0.2s;
		transform: scaleX(0);
		display: block;
		opacity: 1;
		left: 0;
	}
	&:hover {
		&::before {
			transform: scaleX(1);
		}
	}
}

%heading-line {
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 10px;
		top: 0;
		height: 100%;
	}
}

%flex-container {
	-js-display: -webkit-box;
	-js-display: -ms-flexbox;
	-js-display: -webkit-flex;
	-js-display: flex;
	display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */              /* OLD - Firefox 19- (doesn't work very well) */
	display: -ms-flexbox;           /* TWEENER - IE 10 */          /* NEW - Chrome */
	display: -webkit-flex;
	display: flex;
}

%height-center {
	top: 50%;
	transform: translateY(-50%);
}

%transition-all {
	transition: all 0.2s;
}
%flex-it {
	flex: 1 1 auto;				
}

%no-select {
	user-select: none;
}