@import 'mixins.scss';
@import 'variables.scss';
@import 'extendables.scss';


/* ---- General CSS ---- */

.jok_helper_class {

	
	
	
	#et-info-email:hover, #et-secondary-menu>ul>li>a:hover, #top-menu-nav>ul>li>a:hover, .et-social-icons a:hover {
		opacity: 1;
		color: $main_color;
	}

	h1 {
		color: $grey_dark;
		font-size: $ipad_large;
		font-weight: 700;
		text-transform: uppercase;
		@include tablet_portrait {
			font-size: $extra_big;
		} 
		@include mobile_menu {
			font-size: $large;
		}
	}
	h2 {
		text-transform: uppercase;
		font-size: $extra_big;
		color: $grey_dark;
		font-weight: 700;
		@include tablet_portrait {
			font-size: $ipad_large;
		} 
		@include mobile_menu {
			font-size: $large;
		}
	}
	h3 {
		text-transform: uppercase;
		font-size: $big;
		color: $grey_dark;
		font-weight: 700;
		@include tablet_portrait {
			font-size: $big;
		} 
		@include mobile_menu {
			font-size: $big;
		}
	}
	h4 {
		text-transform: uppercase;
		font-size: $medium;
		color: $grey_dark;
		font-weight: 600;
		@include tablet_portrait {
			font-size: $medium;
		} 
		@include mobile_menu {
			font-size: $big;
		}
	}

	p {
		margin-bottom: 30px
	}

	footer {
		p {
			margin-bottom: 0;
		}
	}
	
	.homepage-header {
		background-color: transparent;
	}
	.scrolled {
		background-color: white!important;
		transition: background-color 0.3s ease-in-out;
	}

	.et_pb_menu__logo-wrap {
		margin-bottom: 10px!important;
	}


	.et_pb_team_member_description {
		@include up_to_mobile_menu {
			display: block;
			margin-top: 80px;
		}
	}

	// Menu fix
	header .et_mobile_menu .menu-item-has-children > a { background-color: transparent; position: relative; }
	header .et_mobile_menu .menu-item-has-children > a:after { font-family: 'ETmodules'; text-align: center; speak: none; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; position: absolute; }
	header .et_mobile_menu .menu-item-has-children > a:after { font-size: 16px; content: '\4c'; top: 13px; right: 10px; }
	header .et_mobile_menu .menu-item-has-children.visible > a:after { content: '\4d'; }
	#page-container header .et_mobile_menu ul.sub-menu { display: none !important; visibility: hidden !important;  transition: all 1.5s ease-in-out;}
	#page-container header .et_mobile_menu .visible > ul.sub-menu { display: block !important; visibility: visible !important; }
	/* START: Collapse Divi Menu Module Submenus and Keep Parent Items Clickable on Mobile */
	/* Parent menu item */
	.et_pb_module .et_mobile_menu .menu-item-has-children.clickable,
	.et_pb_module .et_mobile_menu .menu-item-has-children > a {
	position: relative;
	}
	/* Parent menu item icon */
	.et_pb_module .et_mobile_menu .menu-item-has-children:not(.clickable) > a:after,
	.et_pb_module .et_mobile_menu .menu-item-has-children.clickable > span.parent_icon:after {
	font-family: "ETmodules";
	text-align: center;
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	}
	/* Disabled parent menu item icon positioning */
	.et_pb_module .et_mobile_menu .menu-item-has-children:not(.clickable) > a:after {
	position: absolute;
	top: 13px;
	right: 10px;
	}
	/* Clickable parent menu item icon */
	.et_pb_module .et_mobile_menu .menu-item-has-children.clickable > span.parent_icon {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	align-items: center;
	position: absolute;
	width: 46px;
	height: 46px;
	background: rgba(0, 0, 0, 0);
	// border-left: 1px solid #dcdcdc;
	right: 0;
	top: 0;
	z-index: 9;
	}
	/* Hide submenu by default */
	.et_pb_module .et_mobile_menu ul.sub-menu,
	.et-db #et-boc .et-l .et_pb_menu .et_mobile_menu > ul.sub-menu,
	.et-db #et-boc .et-l .et_pb_fullwidth_menu .et_mobile_menu > ul.sub-menu {
	display: none !important;
	visibility: hidden !important;
	}
	/* Show submenu */
	.et_pb_module .et_mobile_menu .visible > ul.sub-menu,
	.et-db #et-boc .et-l .et_pb_menu .et_mobile_menu .visible > ul.sub-menu,
	.et-db #et-boc .et-l .et_pb_fullwidth_menu .et_mobile_menu .visible > ul.sub-menu {
	display: block !important;
	visibility: visible !important;
	}
	/* END: Collapse Divi Menu Module Submenus and Keep Parent Items Clickable on Mobile */

	.et_pb_button {
		text-transform: uppercase;
		font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
	}

	// Trustpilot show review in mobile mode
	.ti-widget[data-layout-id='5'][data-set-id='light-background'] .ti-widget-container.ti-col-1 .ti-reviews-container {
		display: block!important;
	}


	// adjust mobile menu to be right side
	.et_pb_menu__wrap {
		@include up_to_mobile_menu {
			display: inline-block;
		}
	}

	.et_pb_menu__logo-wrap {
		@include up_to_mobile_menu {
			display: inline-block!important;
			width: 80%;
		}
	}

	.et_pb_menu__logo {
		@include up_to_mobile_menu {
			height: 65px;
			max-width: 100%!important;
			overflow: unset;
			width: 170px;
			margin-left: 15px;
		}
	}
}

.white-button {
	text-transform: uppercase;
	color: $grey_dark;
	border: 2px solid white;
	border-radius: 0;
	font-size: 17px;
	font-weight: 600;
	background-color: white;
	padding: 6px 23px;
	transition: .1s ease-in-out;
	line-height: 1.7em;
	font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
	text-align: center;
	font-weight:600;
	&:hover {
		background-color: transparent;
		color: white;
		cursor: pointer;
	}
}

.contact-table {
	.et_pb_text_inner {
		display: flex;
		flex-direction:column;
		justify-content: flex-start;
		width: 100%;
		margin-bottom: 40px;
		@include mobile_menu {
			margin-bottom: 10px;
			flex-direction: row;
			justify-content: space-between;
		}
		p {
			margin: 0;
			margin-right: 10px;
			padding-bottom: 0;
		}
		.name {
			font-weight: 700;
		}
	}
}

.fa-facebook-square {
	font-size: 21px;
}

.heading-thin {
	font-weight: 500;
}

.underline {
	&:after {
		content: '';
		display: block;
		width: 85px;
		height: 10px;
		background-color: $main_color;
		margin: 15px auto;
	}
}

.underline-left {
	&:after {
		content: '';
		display: block;
		width: 85px;
		height: 10px;
		background-color: $main_color;
		margin: 15px auto;
	}
	@include mobile_menu {
		&:after {
			margin: 15px 0;
		}
	}
}

.heading-line-left {
	@extend %heading-line;
	&:after {
		left: -40px;
		background-color: $main_color;
	}
}

.heading-line-right {
	@extend %heading-line;
	&:after {
		right: -40px;
		background-color: white;
	}
}

.link-span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 10;
	>a {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.jok-cred {
	font-size: 9px;
	&:first-child {
		margin-right: 25px;
	}
}

#main-content .container:before {
	width: 0;
}

.et_right_sidebar #left-area {
	width: 100%;
	padding-right: 0;
}

.overlay-span {
	position: relative;
	display: block;
	&::after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		z-index: 2;
		background-color: rgba(0, 0, 0, 0);
		transition: background-color 0.3s;
	}

	&:hover::after {
		background-color: rgba(0,0,0,0.3);
	}
}

.inline-buttons {
	.et_pb_button_module_wrapper:nth-last-child(n+2), .et_pb_button_module_wrapper:nth-last-child(n+2) ~ .et_pb_button_module_wrapper {
		display: inline-block;
		margin-right: 25px;
		margin-bottom: 20px!important;
	}
}

.jok-question.cookie {
	position: fixed;
	z-index: 9999999999;
	bottom: 50px;
	right: 10%;
	width: 80vw;
	display: none;
	@include tablet_landscape() {
		right: 50px;
		width: 20vw;
	}
	.jok-question-container {
		background-color: white;
		text-align: left;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
		padding: 25px;
		a {
			color: black;
		}
		.jok-select {
			display: inline-block;
			margin: 0 auto;
			text-align: center;
			margin-top: 25px;
			cursor: pointer;
			text-transform: uppercase;
            color: white;
            border: 2px solid $grey_dark;
            border-radius: 0;
            font-size: 17px;
            font-weight: 600;
            background-color: $grey_dark;
            padding: 6px 23px;
            transition: .1s ease-in-out;
            line-height: 1.7em;
            font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
            text-align: center;
            font-weight: 600;
            &:hover {
                background-color: transparent;
                color: $grey_dark;
				cursor: pointer;
				&:after {
					content: "";
				}
            }
		}
	}
}
.jok-question-container .jok-select {
	position: relative;
	z-index: 9999990;
}
