/* -- Mixins -- */


@mixin mobile_landscape {
	@media only screen and (min-width: $mobile_landscape ) {
		@content;
	}
}

@mixin tablet_portrait {
	@media only screen and (min-width: $tablet_portrait ) {
		@content;
	}
}

@mixin mobile_menu {
	@media only screen and (min-width: $mobile_menu ) {
		@content;
	}
}

@mixin up_to_mobile_menu {
	@media only screen and (max-width: $mobile_menu - 1 ) {
		@content;
	}
}


@mixin mobile_only {
	@media only screen and (max-width: $tablet_portrait - 1) {
		@content;
	}
}

@mixin tablet_portrait_only {
	@media only screen and (min-width: $tablet_portrait ) and (max-width: $tablet_landscape - 1) {
		@content;
	}
}
@mixin tablet_landscape_only {
	@media only screen and (min-width: $tablet_landscape ) and (max-width: $desktop - 1) {
		@content;
	}
}

@mixin up_to_tablet_portrait {
	@media only screen and (max-width: $tablet_landscape - 1) {
		@content;
	}
}

@mixin up_to_tablet_landscape {
	@media only screen and (max-width: $desktop - 1) {
		@content;
	}
}

/* -- Liggande iPad -- */
@mixin tablet_landscape {
	@media only screen and (min-width: $tablet_landscape ) {
		@content;
	}
}

/* -- Desktop -- */
@mixin desktop {
	@media only screen and (min-width:$desktop ) {
		@content;
	}
}


@mixin flex_vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        -webkit-flex-direction: column;
	        flex-direction: column;
    -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
            justify-content: space-around;
}