/* ---- Variables ---- */

/* Colors */
$main_color: #D0C182;       // Main yellow/gold
$grey_dark: #40474D;        // Dark grey
$grey_medium: #4E4E4E;      // Medium grey
$black: #000;               // Black
$White: #FFF;               // White

/* Screen sizes */
$mobile_landscape: 568px;
$tablet_portrait: 768px;
$mobile_menu: 980px;
$tablet_landscape: 1024px;
$desktop: 1275px;

/* Font sizes */
$extra_large: 95px; // H1 Startpage
$large: 65px;       // Standard H1
$extra_big: 50px;   // H2
$ipad_large: 40px;  // Ipad h1
$big: 27px;         // H3 + mobile h1
$medium: 21px;      // H4
$small: 18px;       // Normal text
$extra_small: 15px; // Links / small texts
$mini: 11px;        // Extra small texts

/* other */
$standard_transition: all .3s;
$standard_shadow: 0 0 4px 4px rgba(0,0,0,0.2);