/* -- Mixins -- */
/* -- Liggande iPad -- */
/* -- Desktop -- */
/* ---- Variables ---- */
/* Colors */
/* Screen sizes */
/* Font sizes */
/* other */
.heading-line-left:after, .heading-line-right:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  top: 0;
  height: 100%; }

/* ---- General CSS ---- */
.jok_helper_class {
  /* START: Collapse Divi Menu Module Submenus and Keep Parent Items Clickable on Mobile */
  /* Parent menu item */
  /* Parent menu item icon */
  /* Disabled parent menu item icon positioning */
  /* Clickable parent menu item icon */
  /* Hide submenu by default */
  /* Show submenu */
  /* END: Collapse Divi Menu Module Submenus and Keep Parent Items Clickable on Mobile */ }
  .jok_helper_class #et-info-email:hover, .jok_helper_class #et-secondary-menu > ul > li > a:hover, .jok_helper_class #top-menu-nav > ul > li > a:hover, .jok_helper_class .et-social-icons a:hover {
    opacity: 1;
    color: #D0C182; }
  .jok_helper_class h1 {
    color: #40474D;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .jok_helper_class h1 {
        font-size: 50px; } }
    @media only screen and (min-width: 980px) {
      .jok_helper_class h1 {
        font-size: 65px; } }
  .jok_helper_class h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #40474D;
    font-weight: 700; }
    @media only screen and (min-width: 768px) {
      .jok_helper_class h2 {
        font-size: 40px; } }
    @media only screen and (min-width: 980px) {
      .jok_helper_class h2 {
        font-size: 65px; } }
  .jok_helper_class h3 {
    text-transform: uppercase;
    font-size: 27px;
    color: #40474D;
    font-weight: 700; }
    @media only screen and (min-width: 768px) {
      .jok_helper_class h3 {
        font-size: 27px; } }
    @media only screen and (min-width: 980px) {
      .jok_helper_class h3 {
        font-size: 27px; } }
  .jok_helper_class h4 {
    text-transform: uppercase;
    font-size: 21px;
    color: #40474D;
    font-weight: 600; }
    @media only screen and (min-width: 768px) {
      .jok_helper_class h4 {
        font-size: 21px; } }
    @media only screen and (min-width: 980px) {
      .jok_helper_class h4 {
        font-size: 27px; } }
  .jok_helper_class p {
    margin-bottom: 30px; }
  .jok_helper_class footer p {
    margin-bottom: 0; }
  .jok_helper_class .homepage-header {
    background-color: transparent; }
  .jok_helper_class .scrolled {
    background-color: white !important;
    transition: background-color 0.3s ease-in-out; }
  .jok_helper_class .et_pb_menu__logo-wrap {
    margin-bottom: 10px !important; }
  @media only screen and (max-width: 979px) {
    .jok_helper_class .et_pb_team_member_description {
      display: block;
      margin-top: 80px; } }
  .jok_helper_class header .et_mobile_menu .menu-item-has-children > a {
    background-color: transparent;
    position: relative; }
  .jok_helper_class header .et_mobile_menu .menu-item-has-children > a:after {
    font-family: 'ETmodules';
    text-align: center;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    position: absolute; }
  .jok_helper_class header .et_mobile_menu .menu-item-has-children > a:after {
    font-size: 16px;
    content: '\4c';
    top: 13px;
    right: 10px; }
  .jok_helper_class header .et_mobile_menu .menu-item-has-children.visible > a:after {
    content: '\4d'; }
  .jok_helper_class #page-container header .et_mobile_menu ul.sub-menu {
    display: none !important;
    visibility: hidden !important;
    transition: all 1.5s ease-in-out; }
  .jok_helper_class #page-container header .et_mobile_menu .visible > ul.sub-menu {
    display: block !important;
    visibility: visible !important; }
  .jok_helper_class .et_pb_module .et_mobile_menu .menu-item-has-children.clickable,
  .jok_helper_class .et_pb_module .et_mobile_menu .menu-item-has-children > a {
    position: relative; }
  .jok_helper_class .et_pb_module .et_mobile_menu .menu-item-has-children:not(.clickable) > a:after,
  .jok_helper_class .et_pb_module .et_mobile_menu .menu-item-has-children.clickable > span.parent_icon:after {
    font-family: "ETmodules";
    text-align: center;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: 16px; }
  .jok_helper_class .et_pb_module .et_mobile_menu .menu-item-has-children:not(.clickable) > a:after {
    position: absolute;
    top: 13px;
    right: 10px; }
  .jok_helper_class .et_pb_module .et_mobile_menu .menu-item-has-children.clickable > span.parent_icon {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 46px;
    height: 46px;
    background: rgba(0, 0, 0, 0);
    right: 0;
    top: 0;
    z-index: 9; }
  .jok_helper_class .et_pb_module .et_mobile_menu ul.sub-menu,
  .jok_helper_class .et-db #et-boc .et-l .et_pb_menu .et_mobile_menu > ul.sub-menu,
  .jok_helper_class .et-db #et-boc .et-l .et_pb_fullwidth_menu .et_mobile_menu > ul.sub-menu {
    display: none !important;
    visibility: hidden !important; }
  .jok_helper_class .et_pb_module .et_mobile_menu .visible > ul.sub-menu,
  .jok_helper_class .et-db #et-boc .et-l .et_pb_menu .et_mobile_menu .visible > ul.sub-menu,
  .jok_helper_class .et-db #et-boc .et-l .et_pb_fullwidth_menu .et_mobile_menu .visible > ul.sub-menu {
    display: block !important;
    visibility: visible !important; }
  .jok_helper_class .et_pb_button {
    text-transform: uppercase;
    font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif; }
  .jok_helper_class .ti-widget[data-layout-id='5'][data-set-id='light-background'] .ti-widget-container.ti-col-1 .ti-reviews-container {
    display: block !important; }
  @media only screen and (max-width: 979px) {
    .jok_helper_class .et_pb_menu__wrap {
      display: inline-block; } }
  @media only screen and (max-width: 979px) {
    .jok_helper_class .et_pb_menu__logo-wrap {
      display: inline-block !important;
      width: 80%; } }
  @media only screen and (max-width: 979px) {
    .jok_helper_class .et_pb_menu__logo {
      height: 65px;
      max-width: 100% !important;
      overflow: unset;
      width: 170px;
      margin-left: 15px; } }

.white-button {
  text-transform: uppercase;
  color: #40474D;
  border: 2px solid white;
  border-radius: 0;
  font-size: 17px;
  font-weight: 600;
  background-color: white;
  padding: 6px 23px;
  transition: .1s ease-in-out;
  line-height: 1.7em;
  font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
  text-align: center;
  font-weight: 600; }
  .white-button:hover {
    background-color: transparent;
    color: white;
    cursor: pointer; }

.contact-table .et_pb_text_inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px; }
  @media only screen and (min-width: 980px) {
    .contact-table .et_pb_text_inner {
      margin-bottom: 10px;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .contact-table .et_pb_text_inner p {
    margin: 0;
    margin-right: 10px;
    padding-bottom: 0; }
  .contact-table .et_pb_text_inner .name {
    font-weight: 700; }

.fa-facebook-square {
  font-size: 21px; }

.heading-thin {
  font-weight: 500; }

.underline:after {
  content: '';
  display: block;
  width: 85px;
  height: 10px;
  background-color: #D0C182;
  margin: 15px auto; }

.underline-left:after {
  content: '';
  display: block;
  width: 85px;
  height: 10px;
  background-color: #D0C182;
  margin: 15px auto; }
@media only screen and (min-width: 980px) {
  .underline-left:after {
    margin: 15px 0; } }

.heading-line-left:after {
  left: -40px;
  background-color: #D0C182; }

.heading-line-right:after {
  right: -40px;
  background-color: white; }

.link-span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 10; }
  .link-span > a {
    width: 100%;
    height: 100%;
    display: block; }

.jok-cred {
  font-size: 9px; }
  .jok-cred:first-child {
    margin-right: 25px; }

#main-content .container:before {
  width: 0; }

.et_right_sidebar #left-area {
  width: 100%;
  padding-right: 0; }

.overlay-span {
  position: relative;
  display: block; }
  .overlay-span::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s; }
  .overlay-span:hover::after {
    background-color: rgba(0, 0, 0, 0.3); }

.inline-buttons .et_pb_button_module_wrapper:nth-last-child(n+2), .inline-buttons .et_pb_button_module_wrapper:nth-last-child(n+2) ~ .et_pb_button_module_wrapper {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 20px !important; }

.jok-question.cookie {
  position: fixed;
  z-index: 9999999999;
  bottom: 50px;
  right: 10%;
  width: 80vw;
  display: none; }
  @media only screen and (min-width: 1024px) {
    .jok-question.cookie {
      right: 50px;
      width: 20vw; } }
  .jok-question.cookie .jok-question-container {
    background-color: white;
    text-align: left;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    padding: 25px; }
    .jok-question.cookie .jok-question-container a {
      color: black; }
    .jok-question.cookie .jok-question-container .jok-select {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      margin-top: 25px;
      cursor: pointer;
      text-transform: uppercase;
      color: white;
      border: 2px solid #40474D;
      border-radius: 0;
      font-size: 17px;
      font-weight: 600;
      background-color: #40474D;
      padding: 6px 23px;
      transition: .1s ease-in-out;
      line-height: 1.7em;
      font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
      text-align: center;
      font-weight: 600; }
      .jok-question.cookie .jok-question-container .jok-select:hover {
        background-color: transparent;
        color: #40474D;
        cursor: pointer; }
        .jok-question.cookie .jok-question-container .jok-select:hover:after {
          content: ""; }

.jok-question-container .jok-select {
  position: relative;
  z-index: 9999990; }
