/* ---- Variables ---- */
$main_color: #D0C182;
$sec_color:#C6C6C5;
$mobile_landscape: 568px;
$tablet_portrait: 768px;
$mobile_menu: 980px;
$tablet_landscape: 1024px;
$desktop: 1200px;
$big_desktop: 1350px;

/* Colors */
$main_color: #D0C182;       // Main yellow/gold
$grey_dark: #40474D;        // Dark grey
$grey_medium: #4E4E4E;      // Medium grey
$black: #000;               // Black
$White: #FFF;               // White

/* Screen sizes */
$mobile_landscape: 568px;
$tablet_portrait: 768px;
$mobile_menu: 980px;
$tablet_landscape: 1024px;
$desktop: 1275px;

/* Font sizes */
$extra_large: 95px; // H1 Startpage
$large: 65px;       // Standard H1
$extra_big: 50px;   // H2
$ipad_large: 40px;  // Ipad h1
$big: 27px;         // H3 + mobile h1
$medium: 21px;      // H4
$small: 18px;       // Normal text
$extra_small: 15px; // Links / small texts
$mini: 11px;        // Extra small texts

/* -- Mixins -- */

@mixin big_desktop {
	@media only screen and (min-width: $big_desktop ) {
		@content;
	}
}

@mixin mobile_landscape {
	@media only screen and (min-width: $mobile_landscape ) {
		@content;
	}
}

@mixin tablet_portrait {
	@media only screen and (min-width: $tablet_portrait ) {
		@content;
	}
}

@mixin mobile_only {
	@media only screen and (max-width: $tablet_portrait - 1) {
		@content;
	}
}


@mixin tablet_portrait_only {
	@media only screen and (min-width: $tablet_portrait ) and (max-width: $tablet_landscape - 1) {
		@content;
	}
}
@mixin tablet_landscape_only {
	@media only screen and (min-width: $tablet_landscape ) and (max-width: $desktop - 1) {
		@content;
	}
}

@mixin up_to_tablet_portrait {
	@media only screen and (max-width: $tablet_landscape - 1) {
		@content;
	}
}

@mixin mobile_menu {
	@media only screen and (min-width: $mobile_menu +1 ) {
		@content;
	}
}

/* -- Liggande iPad -- */
@mixin tablet_landscape {
	@media only screen and (min-width: $tablet_landscape ) {
		@content;
	}
}

/* -- Desktop -- */
@mixin desktop {
	@media only screen and (min-width:$desktop ) {
		@content;
	}
}

@mixin flex_vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        -webkit-flex-direction: column;
	        flex-direction: column;
    -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
            justify-content: space-around;
}


%flex-container {
	-js-display: -webkit-box;
	-js-display: -ms-flexbox;
	-js-display: -webkit-flex;
	-js-display: flex;
	display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */              /* OLD - Firefox 19- (doesn't work very well) */
	display: -ms-flexbox;           /* TWEENER - IE 10 */          /* NEW - Chrome */
	display: -webkit-flex;
	display: flex;
	&.flex-between {
		justify-content: space-between;
	}
	&.vertical {
		flex-direction: column;
	    justify-content: space-around;
	}
	&.wrap {
		flex-wrap: wrap;
	}
	&.center {
		align-content: space-around;
		align-items: center;
		justify-content: space-around;
	}
}

%flex-it {
	flex: 1 1 auto;				
}


.stretch {
    justify-content: space-between;
    align-content: stretch;
}

.joform_sidetoggle {
    box-shadow: -2px -2px 2px rgba(0,0,0,.1);
    color: #4E4E4E;
    background-color: $main_color;
    position: fixed;
    cursor: pointer;
    width: 100vw;
    height: 4em;
    bottom: 0;
    right: 0;
    z-index: 9999999999;
    &:hover {
        box-shadow: -2px -2px 5px rgba(0,0,0,.2);
    }
    @include mobile_menu {
        right: -40px;
        transform: rotate(-90deg);
        height: 4em;
        width: 8em;
        bottom: 80%;
    }
    @include desktop {
        &:hover {
            box-shadow: -2px 3px 5px rgba(0,0,0,.2);
        }
        box-shadow: -2px 3px 5px rgba(0,0,0,.1);
        width: 700px;
        height: 900px;
        transform-origin: top left;
        transform: rotate(30deg);
        overflow: hidden;
        bottom: 100%;
        right: unset;
        left: 100%;
    }
    @include big_desktop {
        height: 1130px;
    }
    h4 {
        position: absolute;
        color: #4E4E4E;
        bottom: 45%;
        left: 50%;
        line-height: 1;
        padding: 0;
        font-size: 1.3em;
        transform: translate(-50%, 50%);
        font-weight: 600;
        @include mobile_menu {
            font-size: 18px!important;
            position: relative;
            right: 0;
            bottom: -15px;
            text-align: center;
        }
        @include desktop {
            right: unset;
            font-size: 18px!important;
            position: absolute;
            bottom: 38px;
            left: 49%;
            transform: rotate(-30deg);
        }
        @include big_desktop {
            font-size: 18px!important;
            bottom: 50px;
            left: 64%;
        }
    }
}
.joform_container {
    &--lightbox {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 200000000;
        background-color: rgba(black, 0.5);
        
    }
	&--closed {
		display: none;
		opacity: 0;
	}
	&--open {
		display: block;
		opacity: 1;
        transition: opacity .2s;
	}
	&__form {
        background-color: $main_color;
        color: white;
		padding: 30px;
        box-shadow: 0px 0 9px rgba(0,0,0,0.17);
        width: 90%;
		max-width: 700px;
		max-height: 90%;
        position: absolute;
        overflow: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__close {
		font-size: 30px;
		cursor: pointer;
		position: absolute;
		top: 20px;
        right: 20px;
        width: 2em;
        color: inherit;
    }
    &--side {
        position: fixed;
        left: 0;
        bottom:0;
        display: block;
        height: 100vh;
        width: 100vw;
        background-color:$main_color;
        z-index: 200000000;
        transition: transform 0.3s ease-in;
        will-change: transform;
        transform: translate(0, calc( 100% - 4em));
        padding: 50px;
        padding-top: calc(50px + 4em);
        overflow: visible;
        @include mobile_menu {
            transition: transform 0.2s ease-in;
            padding-top: 50px;
            top: 0;
            height: 100vh;
            width: auto;
            min-width: 25vw;
            max-width: 33vw;
            transform: translate(-100%, 0);
            border-right: 6px solid $sec_color;
        }
        &.joform_container--open {
            overflow-y:auto;
            transition: transform 0.3s ease-in;
            transform: translate(0, 0);
            box-shadow: -3px 0 7px rgba(0,0,0,0.2);
            .joform_container__tag {
                display: none;
            }
            @include mobile_menu {
                transition: transform 0.2s ease-in;
                transform: translate(0);
            }
        }
    }
	h1,h2,h3,h4,h5,h6 {
		text-align: center;
	}
	&__tag {
        @extend .joform_sidetoggle;
        bottom: auto;
        top: 0;
        position: absolute;
        right: 0;
        left: auto;
        @include mobile_menu() {
            top: 50%;
            transform: translateX(100%) rotate(-90deg);
        }
	}


	.gform_wrapper {
		.gform_heading {
            .gform_title {
                color: white;
            }
			margin-bottom: 0;
		}
		.gform_fields {
			@extend %flex-container;
			flex-wrap: wrap;
			.gfield {
				width: 100%;
				&.half {
					@include tablet_portrait() {
						flex: 0 0 50%;
					}
					
				}
			}
		}
    }
}

.jok_helper_class {
    .joform_container__form {
        padding-top: 0;
    }
    .gform_wrapper {
        .validation_error {
            width: 79%;
            margin: 0 auto;
        }
        .gform_body {
            color: $grey_dark;
            font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
            padding: 10%;
            padding-top: 0;
            padding-bottom: 15px;
            .ginput_container {
                margin-top: 0;
            }
            .gfield {
                margin-top: 10px;
            }
            h2 {
                text-transform: uppercase;
                font-size: $big;
                color: $grey_dark;
                font-weight: 700;
                @include tablet_portrait {
                    font-size: $ipad_large;
                } 
                @include mobile_menu {
                    font-size: $extra_big;
                }
            }
            p {
                font-size: 25px;
                font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
                text-align: center;
                margin-bottom: 0;
            }
            .gfield_required {
                color: $grey_dark;
            }
            
            .gfield_error {
                border: none;
                background-color: unset;
                margin-top: 0;
                .gfield_label {
                    color: $grey_dark;
                }
            }
            .reg {
                input {
                    text-transform: uppercase;
                }
            }
        }
        .gform_footer {
            text-align: center;
            margin-top: 0;
        }
        .gform_button {
            text-transform: uppercase;
            margin: 0 auto;
            color: white;
            border: 2px solid $grey_dark;
            border-radius: 0;
            font-size: 17px;
            font-weight: 600;
            background-color: $grey_dark;
            padding: 6px 23px;
            transition: .1s ease-in-out;
            line-height: 1.7em;
            font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
            text-align: center;
            font-weight: 600;
            &:hover {
                background-color: transparent;
                color: $grey_dark;
                cursor: pointer;
            }
        }
    }
}

